<div class="starship pages" *ngIf="pages">
  <h2 style="color: var(--color-ligth);text-align: center">{{starship.name}} </h2>
  <img src="{{starship.image}}" alt="{{starship.name}}" width="100%"
    routerLink="/swapi/starships/{{starship.id}}"
  >
</div>



<div class="starship page" *ngIf="page">
  <div class="info">
    <h2>{{starship.name}}</h2>
    <p>model {{starship.model}}</p>
    <p>{{starship.passengers}} passengers</p>
    <p>{{starship.length}} length</p>
  </div>
  <img src="{{starship.image}}" alt="{{starship.name}}" width="100%" height="100%">
</div>
