<header>

  <nav>

    <a routerLink="home" style="display: flex;align-items: center">
      <img src="favicon.ico" alt="logo">
      <span> </span>
      <span style="color: var(--color-active);text-transform: uppercase;margin-left: 1em">newsapi</span>
    </a>


    <ul>

      <li>
        <a routerLink="home" routerLinkActive="active">home</a>
      </li>

      <li>
        <a routerLink="rickandmorty" routerLinkActive="active">rick and morty</a>
      </li>

      <li>
        <a routerLink="swapi" routerLinkActive="active">swapi</a>
      </li>

    </ul>


  </nav>
</header>
